.image-with-text__grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.image-with-text__media-item{
    width: calc(50% - 1rem / 2);
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
}
.image-with-text__media{
    padding-bottom: 82.18923933209646%;
    min-height: 100%;
    overflow: hidden;
    position: relative;

}
.image-with-text__media img{
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.image-with-text__text-item{
    width: calc(50% - 1rem / 2);
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
}
.image-with-text{margin-top:5rem}.image-with-text:not(.color-scheme-background-1){margin-bottom:5rem}.image-with-text .grid{margin-left:0;margin-bottom:0}.image-with-text__grid{overflow:hidden}.image-with-text__media{background-color:transparent;min-height:100%}.image-with-text__media--small{height:19.4rem}.image-with-text__media--large{height:43.5rem}.image-with-text__media--placeholder{background-color:rgba(var(--color-foreground),.04);position:relative;overflow:hidden}.image-with-text__media--placeholder.image-with-text__media--adapt{height:20rem}.image-with-text__media--placeholder>svg{position:absolute;left:50%;max-width:80rem;top:50%;transform:translate(-50%,-50%);width:100%;fill:currentColor}.image-with-text__content{display:flex;flex-direction:column;align-items:flex-start;height:100%;justify-content:center;align-self:center;padding:4rem calc(4rem / var(--font-body-scale)) 5rem}.image-with-text__content--mobile-right>*{align-self:flex-end;text-align:right}.image-with-text__content--mobile-center>*{align-self:center;text-align:center}.image-with-text--overlap .image-with-text__content{transform:translate(0 ,-3rem);width:90%;margin:0 auto}@media screen and (min-width:750px){.image-with-text__content .button{padding:20px 30px;min-width:320px}.image-with-text{margin-bottom:calc(5rem + var(--page-width-margin))}.enlarged .button{padding:15px 70px;font-size:16px}.image-with-text__grid--reverse{flex-direction:row-reverse}.image-with-text__media--small{height:31.4rem}.image-with-text__media--large{height:69.5rem}.image-with-text__media--placeholder.image-with-text__media--adapt{height:30rem}.image-with-text__grid--reverse .image-with-text__content{margin-left:auto}.image-with-text__content--bottom{justify-content:flex-end;align-self:flex-end}.image-with-text__content--top{justify-content:flex-start;align-self:flex-start}.image-with-text__content--desktop-right>*{align-self:flex-end;text-align:right}.image-with-text__content--desktop-left>*{align-self:flex-start;text-align:left}.image-with-text__content--desktop-center>*{align-self:center;text-align:center}.image-with-text--overlap .image-with-text__text-item{display:flex;padding:3rem 0}.image-with-text--overlap .image-with-text__content{height:auto;width:calc(100% + 4rem);min-width:calc(100% + 4rem);transform:translate(-4rem,0)}.image-with-text--overlap .image-with-text__grid--reverse .image-with-text__content{transform:translate(4rem,0)}.image-with-text--overlap .image-with-text__grid--reverse .image-with-text__text-item{justify-content:flex-end}.image-with-text--overlap .image-with-text__media-item--top{align-self:flex-start}.image-with-text--overlap .image-with-text__media-item--middle{align-self:center}.image-with-text--overlap .image-with-text__media-item--bottom{align-self:flex-end}.image-with-text__media-item--large+.image-with-text__text-item,.image-with-text__media-item--small{flex-grow:0}}@media screen and (min-width:990px){.image-with-text__content{padding:4rem 5rem 5rem}}.image-with-text__content .button+.image-with-text__text,.image-with-text__content>*+*,.image-with-text__content>.image-with-text__text:empty~a{margin-top:2rem}.image-with-text__content>:first-child:is(.image-with-text__heading),.image-with-text__text--caption+.image-with-text__heading,.image-with-text__text--caption:first-child{margin-top:0}.image-with-text__content :last-child:is(.image-with-text__heading),.image-with-text__text--caption{margin-bottom:0}.image-with-text__content .image-with-text__text+.button{margin-top:4rem}.image-with-text__heading{margin-bottom:0;font-size:30px;}.image-with-text__heading span{color:#e15e54}.image-with-text__text p{margin-top:0;margin-bottom:1rem}.img_text_sec{position:relative;padding-top:50px;padding-bottom:50px}.img_text_sec.logo_enabled::before{content:'';position:absolute;bottom:-29px;right:0;background:url(https://cdn.shopify.com/s/files/1/0080/8229/2789/files/wellnesse-logo-bg_2x_47ad0306-fade-4df4-8ae6-13bbb0af2187.png?v=1642755665) 0 0/contain no-repeat;height:140px;width:50%}.image-with-text__subheading{font-size:28px;color:#e15e54;margin:5px 0 0}.promo_icons{display:flex;flex-wrap:wrap;justify-content:center}.promo_icons img{max-width:86px;height:auto;padding-bottom:10px;margin:0 8px}.enable-paragraph__spacing p{margin-bottom:2rem!important}h2.image-with-text__heading.enlarged_heading.h1{font-size:42px}@media screen and (max-width:450px){h2.image-with-text__heading.enlarged_heading.h1{font-size:35px}}.img_text_sec .media>img{object-fit:contain!important}.promo_icons .single_icon{width:100%;max-width:100%}@media only screen and (max-width:1024px){.img_text_sec::before{height:77px;width:300px;left:0;right:0;margin:auto}.img_text_sec{padding-bottom:30px;padding-top:10px}}@media only screen and (max-width:767px){.img_text_sec{overflow:hidden}.image-with-text__content{padding:25px 0}.promo_icons{padding:10px 0;width:100%}.image-with-text__heading{font-size:24px}.promo_icons img{max-width:49px}.image-with-text__subheading{font-size:22px}.image-with-text{padding:0 1.5rem;margin:0 auto}}@media only screen and (min-width:767px) and (max-width:1280px){.image-with-text__heading{font-size:19px}}
.image-with-text {
    margin-top: 5rem
}

.image-with-text:not(.color-scheme-background-1) {
    margin-bottom: 5rem
}

.image-with-text .grid {
    margin-left: 0;
    margin-bottom: 0
}

.image-with-text__grid {
    overflow: hidden
}

.image-with-text__media {
    background-color: transparent;
    min-height: 100%
}

.image-with-text__media--small {
    height: 19.4rem
}

.image-with-text__media--large {
    height: 43.5rem
}

.image-with-text__media--placeholder {
    background-color: rgba(var(--color-foreground),.04);
    position: relative;
    overflow: hidden
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 20rem
}

.image-with-text__media--placeholder>svg {
    position: absolute;
    left: 50%;
    max-width: 80rem;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    fill: currentColor
}

.image-with-text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    align-self: center;
    padding: 4rem calc(4rem / var(--font-body-scale)) 5rem
}

.image-with-text__content--mobile-right>* {
    align-self: flex-end;
    text-align: right
}

.image-with-text__content--mobile-center>* {
    align-self: center;
    text-align: center
}

.image-with-text--overlap .image-with-text__content {
    transform: translate(0 ,-3rem);
    width: 90%;
    margin: 0 auto
}

@media screen and (min-width: 750px) {
    .image-with-text__content .button {
        padding:20px 30px;
        min-width: 320px
    }

    .image-with-text {
        margin-bottom: calc(5rem + var(--page-width-margin))
    }

    .enlarged .button {
        padding: 15px 70px;
        font-size: 16px
    }

    .image-with-text__grid--reverse {
        flex-direction: row-reverse
    }

    .image-with-text__media--small {
        height: 31.4rem
    }

    .image-with-text__media--large {
        height: 69.5rem
    }

    .image-with-text__media--placeholder.image-with-text__media--adapt {
        height: 30rem
    }

    .image-with-text__grid--reverse .image-with-text__content {
        margin-left: auto
    }

    .image-with-text__content--bottom {
        justify-content: flex-end;
        align-self: flex-end
    }

    .image-with-text__content--top {
        justify-content: flex-start;
        align-self: flex-start
    }

    .image-with-text__content--desktop-right>* {
        align-self: flex-end;
        text-align: right
    }

    .image-with-text__content--desktop-left>* {
        align-self: flex-start;
        text-align: left
    }

    .image-with-text__content--desktop-center>* {
        align-self: center;
        text-align: center
    }

    .image-with-text--overlap .image-with-text__text-item {
        display: flex;
        padding: 3rem 0
    }

    .image-with-text--overlap .image-with-text__content {
        height: auto;
        width: calc(100% + 4rem);
        min-width: calc(100% + 4rem);
        transform: translate(-4rem,0)
    }

    .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__content {
        transform: translate(4rem,0)
    }

    .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__text-item {
        justify-content: flex-end
    }

    .image-with-text--overlap .image-with-text__media-item--top {
        align-self: flex-start
    }

    .image-with-text--overlap .image-with-text__media-item--middle {
        align-self: center
    }

    .image-with-text--overlap .image-with-text__media-item--bottom {
        align-self: flex-end
    }

    .image-with-text__media-item--large+.image-with-text__text-item,.image-with-text__media-item--small {
        flex-grow: 0
    }
}

@media screen and (min-width: 990px) {
    .image-with-text__content {
        padding:4rem 5rem 5rem
    }
}

.image-with-text__content .button+.image-with-text__text,.image-with-text__content>*+*,.image-with-text__content>.image-with-text__text:empty~a {
    margin-top: 2rem
}

.image-with-text__content>:first-child:is(.image-with-text__heading),.image-with-text__text--caption+.image-with-text__heading,.image-with-text__text--caption:first-child {
    margin-top: 0
}

.image-with-text__content :last-child:is(.image-with-text__heading),.image-with-text__text--caption {
    margin-bottom: 0
}

.image-with-text__content .image-with-text__text+.button {
    margin-top: 4rem
}

.image-with-text__heading {
    margin-bottom: 0;
    font-size: 30px;
}

.image-with-text__heading span {
    color: #e15e54
}

.image-with-text__text p {
    margin-top: 0;
    margin-bottom: 1rem
}

.img_text_sec {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px
}

.img_text_sec.logo_enabled::before {
    content: '';
    position: absolute;
    bottom: -29px;
    right: 0;
    background: url(/cdn/shop/files/wellnesse-logo-bg_2x_47ad0306-fade-4df4-8ae6-13bbb0af2187.png?v=1642755665) 0 0/contain no-repeat;
    height: 140px;
    width: 50%
}

.image-with-text__subheading {
    font-size: 28px;
    color: #e15e54;
    margin: 5px 0 0
}

.promo_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.promo_icons img {
    max-width: 86px;
    height: auto;
    padding-bottom: 10px;
    margin: 0 8px
}

.enable-paragraph__spacing p {
    margin-bottom: 2rem!important
}

h2.image-with-text__heading.enlarged_heading.h1 {
    font-size: 42px
}

@media screen and (max-width: 450px) {
    h2.image-with-text__heading.enlarged_heading.h1 {
        font-size:35px
    }
}

.img_text_sec .media>img {
    object-fit: contain!important
}

.promo_icons .single_icon {
    width: 100%;
    max-width: 100%
}

@media only screen and (max-width: 1024px) {
    .img_text_sec::before {
        height:77px;
        width: 300px;
        left: 0;
        right: 0;
        margin: auto
    }

    .img_text_sec {
        padding-bottom: 30px;
        padding-top: 10px
    }
}
@media only screen and (max-width: 980px)
{
.image-with-text{
    padding: 0 1.5rem;
}



}
@media only screen and (max-width: 767px) {
    .img_text_sec {
        overflow:hidden
    }
    .image-with-text__media-item{
        width: 100%;
    }
    .image-with-text__text-item{
        width: 100%;
    }

    .image-with-text__content {
        padding: 25px 0
    }

    .promo_icons {
        padding: 10px 0;
        width: 100%
    }

    .image-with-text__heading {
        font-size: 24px
    }

    .promo_icons img {
        max-width: 49px
    }

    .image-with-text__subheading {
        font-size: 22px
    }

    .image-with-text {
        padding: 0 1.5rem;
        margin: 0 auto
    }
}

@media only screen and (min-width: 767px) and (max-width:1280px) {
    .image-with-text__heading {
        font-size:19px
    }
}
